<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mongoEventStoreConnectionString" connectionString="mongodb://localhost/eventstore?safe=true"/>
    <add name="mongoReadModelConnectionString" connectionString="mongodb://localhost/wf1_read_model?safe=true"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
