<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mongoEventStoreConnectionString" connectionString="mongodb://localhost/eventstore?safe=true"/>
    <add name="mongoReadModelConnectionString" connectionString="mongodb://localhost/wf1_read_model?safe=true"/>
  </connectionStrings>
</configuration>
